<div class="center-div">
    <h1>Book List</h1>

    <!-- Search -->
    <div class="search">
        <label>Enter Title</label><input type="text" (change)="Title($event)"><br>
        <button (click)="GetByTitle()">Test</button><br>
        <table class="center-div">
            <tbody class="center-div">
                <div class="book-list" *ngIf="booklist.length >0">
                    <div *ngFor="let book of booklist">
                        <button (click)="toggleDetails(book)">
                        <img *ngIf="book.coverImage" [src]="book.coverImage.large" alt="Book cover">
                        <div>
                            <td *ngIf="book.title.english">{{book.title.english}}</td>
                            <td *ngIf="!book.title.english">{{book.title.romaji}}</td>
                        </div>
                        </button>
        
                        <!-- Modal -->
                        <div class="modal" *ngIf="book.showdetails">
                            <div class="modal-content">
                                <span class="close" (click)="closeDetails(book)">&times;</span>
                                <div class="modal-header">
                                    <button (click)="AddBook(book)">Add To Library</button>
                                    <h3 *ngIf="book.title.english">{{book.title.english}}</h3>
                                    <h3 *ngIf="!book.title.english">{{book.title.romaji}}</h3>


                                    
                                    
                                </div>
                            </div>
                        </div>              
                    </div>         
                </div>
                <div *ngIf="booklist.length === 0">
                    <h2>No books found</h2>
                </div>
            </tbody>
        </table>
    </div>

    <!-- Library -->
    <div>
        <h1>Library</h1>
        <table class="center-div">
            <tbody class="center-div">
                <div class="book-list" *ngIf="Library.length >0">
                    <div *ngFor="let lib of Library">
                        <button (click)="toggleDetails(lib.book)">
                        <img *ngIf="lib.book.coverImage" [src]="lib.book.coverImage" alt="Book cover">
                        <div>
                            <td>{{lib.book.title}}</td>
                        </div>
                        </button>
        
                        <!-- Modal -->
                        <div class="modal" *ngIf="lib.book.showdetails">
                            <div class="modal-content">
                                <span class="close" (click)="closeDetails(lib.book)">&times;</span>
                                <div class="modal-header">
                                    <h2>{{lib.book.title}}</h2>
                                    
                                    <h2>Volumes read: {{lib.progress.volumesRead}}</h2>

                                    <!-- Create Volume -->
                                    <div class="create-volume">
                                        <button (click)="CreateBookVolume(lib.book.id)">Create Volume</button><br>
                                    </div>

                                    <!-- List Volumes -->
                                    <div *ngFor="let volume of bookVolumes">
                                        <div class="volume">
                                            <button class="fancy-button" (click)="toggleVolume(volume)">Volume {{volume.volNumber}}</button>
                                            
                                            <!-- Dropdown -->
                                            <div *ngIf="volume.showdetails">
                                                <p class="volume-header">Statistics</p>
                                                <!-- <p>Pages read: {{volume.pagesRead}}</p> -->
                                                <p>Total pages: {{volume.totalPages}}</p>

                                                <!-- Update pages read -->
                                                <div class="update-pages">
                                                    <input type="number">
                                                    <!-- <button (click)="UpdateVolume(volume)">Update</button><br> -->
                                                </div>
                                            </div>                 
                                        </div>
                                    </div>
                                    <button (click)="deleteBook(lib.book.id)">Delete Book</button>
                                </div>
                            </div>
                        </div>              
                    </div>         
                </div>
                <div *ngIf="Library.length === 0">
                    <h2>No books found</h2>
                </div>
            </tbody>
        </table>
    </div>
</div>