
<h1>Book List</h1>
<table>
    <tbody>
        <div class="book-list">
            <div *ngFor="let book of booklist">
                <button (click)="toggleDetails(book)">
                <img [src]="book.coverImage.large" alt="Book cover">
                <div>
                    <td>{{book.title.english}}</td>
                    <!-- <td>{{book.title.romaji}}</td> -->
                </div>
                </button>
                <div *ngIf="book.showdetails">
                <td>{{book.id}}</td>           
                </div>
            </div>         
        </div>
    </tbody>
</table>

<label>Enter Title</label><input type="text" (change)="Title($event)"><br>
<button (click)="GetByTitle()">Test</button><br>







