<p>tuesday</p>
<table>
    <thead>
        <tr>Id:</tr>
        <tr>Name:</tr>
    </thead>

    <tbody>
        <tr *ngFor="let hero of herolist">
             <td>{{hero.id}}</td>           
             <td>{{hero.name}}</td>
             <td>{{hero.realName}}</td>
             <td><button (click)="delete(hero.id)">delete</button></td>
        </tr>
        
    </tbody>
</table>


<button (click)="getAll()">GetAll</button><br>

<br><form [formGroup]="heroform">
    <label>Id</label>
    <input type="number" formControlName="id">
    <button (click)="getById()">GetById</button>
  </form><br>

<br><form [formGroup]="heroform">
    <label>HeroName</label><input type="text" formControlName="name"><br>
    <label>RealName</label><input type="text" formControlName="realName"><br>
    <label>place</label><input type="text" formControlName="place"><br>
    <label>DebutYear</label><input type="date" formControlName="debutYear"><br>
    <button (click)="create(herolist[0])">Create</button><br>
</form>
