<div class="toolbar" role="banner">
    <img src="https://cdn.discordapp.com/attachments/756998560842645515/1183799346303606894/pngtree-book-clipart-vector-png-image_6653535.png?ex=6589a60e&is=6577310e&hm=983ca50a9cdcd74180eb81f43f20203548b396ef795720f4ca7e0592ce5e1486&" alt="logo" width="40">

    <a routerLink="/" class="link">Bookshelf</a>
    <div class="spacer">

        <!-- Possibly put something here -->
        <a class="link" rel="noopener" routerLink="profile">
            <span>Profile</span>
            <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>     -->
        </a>
    
        <a class="link" rel="noopener" routerLink="library">
            <span>Library</span>
            <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg> -->
        </a>
        
    </div>
    <div class="right">
        
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
            height="50" viewBox="0 0 600 400"
            preserveAspectRatio="xMidYMid meet">

            <g transform="translate(0.000000,400.000000) scale(0.100000,-0.100000)"
                fill="#ffffff" stroke="none">
                <path d="M1510 2865 l0 -245 1410 0 1410 0 0 245 0 245 -1410 0 -1410 0 0
                -245z"/>
                <path d="M1510 2005 l0 -245 1410 0 1410 0 0 245 0 245 -1410 0 -1410 0 0
                -245z"/>
                <path d="M1510 1115 l0 -245 1410 0 1410 0 0 245 0 245 -1410 0 -1410 0 0
                -245z"/>
            </g>
        </svg>
        <div class="dropdown-content overflow-top">
            <a routerLink="settings" class="link">Settings</a><br>
            <a routerLink="help" class="link">Help</a><br>
            <a *ngIf="isLoggedIn == false" routerLink="login" class="link">Login</a>
            <button ngClass="logout-btn" *ngIf="isLoggedIn == true" (click)="logout()" class="link">Logout</button>
            <a *ngIf="isLoggedIn == false" routerLink="register" class="link">Register</a>
            <p class="subtext">Made by TrickFire</p>
        </div>
          
    </div>
</div>