<div class="stn-card">
    <div class="stn-header">Change Password</div>
    <form action="" class="form-horizontal">
        <div class="stn-input">
            <label for="currentPassword">Current Password</label>
            <input type="text" id="currentPassword" name="currentPassword" value="hollowhuu@aesirdev.tech" disabled>
        </div>
        <div class="stn-input">
            <label for="newPassword">New Password</label>
            <input type="text" id="newPassword" name="newPassword" placeholder="New Password">
        </div>
    </form>
</div>