<div class="stn-card">
    <div class="stn-header">Change Email</div>
    <form action="" class="form-horizontal">
        <div class="stn-input">
            <label for="currentEmail">Current Email</label>
            <input type="text" id="currentEmail" name="currentEmail" value="hollowhuu@aesirdev.tech" disabled>
        </div>
        <div class="stn-input">
            <label for="newEmail">New Email</label>
            <input type="text" id="newEmail" name="newEmail" placeholder="New Email">
        </div>
    </form>
</div>