
:root {
    --book-background: #2c3e50;
  }
  
  #particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--book-background);
    background-image: linear-gradient(to bottom, var(--book-background), #34495e);
    z-index: 0;
  }
  
  #app-content {
    position: relative; 
    z-index: 1;        
  }