


<BookInfo></BookInfo>
















<!-- this is our new page
this is html
<br>
 this is an element 
<div name="whatever">
    



</div>
 <form></form> 

this is my text {{text}} <br>
this is my number {{tal}} <br>
this is the truth:{{text2}} <br>
this is my array:{{myArray1}} <br>
this is my bool:{{mybool}} <br>
<button (click)="toggleMyBool()">{{mybool}}</button><br>
ngIf = if statement
<div *ngIf="mybool">
    <p>if statement is true output: {{HeroName}}</p>
</div>

<div *ngIf="!mybool">
    <p>if statement is false output: {{HeroName1}}</p>
</div>
ngFor = for loop
<div *ngFor="let item of myArray1">
    {{item}}
</div>
<div *ngFor="let item of heroes">
    {{item}}
</div>
<input type="text" [formControl]="TestFController">
<button (click)="test()">Submit</button><br>
{{UserSuperHero}} -->