<div class="app-forum-page">
  <div class="forum-container">
    <div class="create-post-section">
      <app-forum-create></app-forum-create>
      <img src="https://drive.hollowhuu.com/f/a911f866aa7242deb73b/?raw=1"
           alt="Forum Image"
           class="forum-image">
    </div>

    <h2>Forum Posts</h2>

    <div *ngIf="loading" class="loading-indicator">Loading posts...</div>

    <div class="post-list">
      <app-forum-post *ngFor="let post of posts" [post]="post"></app-forum-post>
    </div>

    <div *ngIf="posts.length === 0 && !loading" class="no-posts">
      <p>There are no posts yet!</p>
    </div>

    <!-- Pagination Controls -->
    <div class="pagination">
        <button (click)="goToPage(1)" [disabled]="currentPage === 1">First</button>
        <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>

        <span *ngFor="let pageNumber of getPaginationArray()">
            <button *ngIf="!isEllipsis(pageNumber)"
                (click)="goToPage(pageNumber)"
                [class.active]="pageNumber === currentPage">
                {{ pageNumber }}
            </button>
            <span *ngIf="isEllipsis(pageNumber)">...</span>
        </span>

        <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
        <button (click)="goToPage(totalPages)" [disabled]="currentPage === totalPages">Last</button>
    </div>
  </div>
</div>