/* You can add global styles to this file, and also import other style files */

/* Dark mode */

/* System preference dark */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff; /* Text color white in dark mode */
  }
}

/* System preference light */
@media (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    color: #000; /* Text color black in light mode */
  }
}

/* Font */
@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
}

/* Global styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff; /* Global text color set to white */
}

body{
  
  background: linear-gradient(
    45deg,
    #0A101A,    /* Very dark blue-gray  - start*/
    #181F2A,    /* A bit lighter, darker blue-gray */
    #2C233A,  /* A dark muted blue-purple */
    #3D2A4B    /* Final color - a dark purple that will fit the image */
  );
}